/*
    Project : Mobile Web
    Author : ThinhNVPH01986
*/
body {
    background: #f2f2f2;
    font-family: Tahoma;
    font-size: 12px;
    line-height: 18px;
}

#primary-page #category ul {
    margin: 0;
    padding: 0
}

#primary-page #category ul li {
    list-style-position: inside;
    list-style-type: none;
    background: green;
    margin-bottom: 10px;
    padding: 5px;
}

.title-box{
    font-size:14px;
    font-family: Tahoma;
    text-transform: uppercase;
    color:#e67e22;
    margin-left:20px;
    font-weight: bold;
}
section#category {
    overflow: hidden;
    margin: 0px 10px;
    padding-top:10px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 2px 0px #f9f9f9;

}
section#category ul li a{
    text-transform: uppercase;
    font-size: 13px;
    color:white;
}

section#category ul li a:hover{
    text-decoration: none;

}
.navbar-default{
    background: #e67e22;
    border:none;
}
.navbar{
    border-radius: 0;

}
.navbar-default .navbar-brand{
    color:white;
    text-transform: uppercase;

}
#list-story{
    overflow: hidden;
    background:white;
    margin:10px;
    padding:10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px #f9f9f9;   
}
#list-story .media-heading a{
    font-family: Tahoma;
    font-size: 14px;
    color: #e67e22;

}
#list-story .media-object{
    width: 60px;
}
#list-story p{
    line-height: 10px;

}
#list-story p.pull-right{
    margin-top:16px;
    line-height: 17px;
}
#list-story p.pull-right strong{
    font-size: 16px;
}

