/*
    Project : Mobile Web
    Author : ThinhNVPH01986
*/
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
    background: #f2f2f2;
    font-family: Tahoma;
    font-size: 12px;
    line-height: 18px;
}

#primary-page{
    margin-top: 60px;
}
#primary-page #category ul {
    margin: 0;
    padding: 0
}

#primary-page #category ul li {
    list-style-position: inside;
    list-style-type: none;
    background: green;
    margin-bottom: 10px;
    padding: 5px;
}

.title-box{
    font-size:14px;
    font-family: Tahoma;
    text-transform: uppercase;
    color:#e67e22;
    margin-left:10px;
    font-weight: bold;
}
section#category {
    overflow: hidden;
    margin: 0px 10px;
    padding-top:10px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 2px 0px #f9f9f9;

}
section#category ul li a{
    text-transform: uppercase;
    font-size: 13px;
    color:white;
}

section#category ul li a:hover{
    text-decoration: none;

}
.navbar-default{
    background: #e67e22;
    border:none;
}
.navbar{
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.navbar-default .navbar-brand{
    color:white;
    /* text-transform: uppercase; */

}
.navbar-default .navbar-brand:hover{
    color:white;
}
.navbar-brand{
    padding-left:0;
    padding-right:0;
}
#list-story{
    overflow: hidden;
    background:white;
    margin:10px;
    padding:10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px #f9f9f9;   
}
#list-story .media-heading a{
    font-family: Tahoma;
    font-size: 14px;
    color: #e67e22;

}
#list-story .media-object{
    width: 60px;
    height: 68px;
    overflow: hidden;
}
#list-story p{
    line-height: 10px;

}
#list-story p.pull-right{
    margin-top:16px;
    line-height: 17px;
}
#list-story p.pull-right strong{
    font-size: 16px;
}

#story-detail{
    overflow: hidden;
    background:white;
    margin:10px;
    padding:10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px #f9f9f9;   
}
#story-detail .title-box{
    margin:0;
    margin-bottom: 5px
}
#comment{
    overflow: hidden;
    margin:10px;
    
}
#comment textarea{
    width: 100%;
    border-radius: 2px;
    background:white;
    padding:5px;
    box-shadow: 0px 2px 0px #f9f9f9;   
    border: none;
    height:80px;   
}
#story-detail button{
    background:#e67e22;
    border:none;
    border-radius: 2px;
    color:white;
    text-transform: uppercase;
    padding:5px 10px;
    margin-top:10px;
    box-shadow: 0px 2px 0px #be6414;
}
.navbar-default .navbar-toggle .icon-bar{
    background:#ffffff;
}
.navbar-toggle{
    float:left;
    margin-left:10px;
}
#menu {
    background: #333;
    width: 200px;
    position: fixed;
    z-index: 99;
    top: 50px;
    bottom: 0;
    display: none;
}
#menu.on {
    
    display: block;
}
#menu ul li {
    list-style-type: none;
    list-style-position: inside;
}
#menu ul li a{
    padding:10px 5px;
    display:block;
    color:white;
    text-decoration: none;
    border-bottom: 1px solid #444;
}
#menu ul  {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding:0;
}